body {
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
  max-width: 50%;
  margin: 5px auto;
  border-radius: 100%;
}
#current-temp {
  font-size: 28px;
  line-height: 28px;
}
#city-name,
#search-box {
  text-transform: capitalize;
}
#description {
  text-transform: capitalize;
}
#weather-main {
  height: 100%;
}

.list-group-item {
  padding-left: 0px;
  font-size: 15px;
}
.weatherApp {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(44, 44, 203);
  border-radius: 10px;
  background-color: rgb(225, 247, 247);
}
.weatherApp .units {
  position: relative;
  top: -20px;
}
.weatherApp:first-letter {
  text-transform: capitalize;
}

.activeLink {
  color: black;
  cursor: default;
  font-size: 22px;
  text-decoration: none;
}
.weather-forcast {
  text-align: center;
}

.weather-forcast-img {
  height: 40%;
  width: 40%;
}
.weather-forcast-date {
  font-size: 16px;
  opacity: 0.5;
  padding: 0;
}
.weather-forcast-temp-min {
  font-size: 13px;
  opacity: 0.5;
}
.weather-forcast-temp-max {
  font-size: 13px;
}
